POPSTAR MANIA - VISUAL NOVEL GAME PROJECT/Assets/TextMesh Pro/Examples & Extras/Resources/Fonts & Materials/Electronic Highway Sign SDF.asset
POPSTAR MANIA - VISUAL NOVEL GAME PROJECT/Assets/TextMesh Pro/Fonts/born2bsporty-fs SDF.asset
POPSTAR MANIA - VISUAL NOVEL GAME PROJECT/Assets/TextMesh Pro/Fonts/born2bsporty-fs SDF.asset
POPSTAR MANIA - VISUAL NOVEL GAME PROJECT/Assets/TextMesh Pro/Fonts/born2bsporty-fs SDF.asset
POPSTAR MANIA - VISUAL NOVEL GAME PROJECT/Assets/TextMesh Pro/Examples & Extras/Resources/Fonts & Materials/Electronic Highway Sign SDF.asset
POPSTAR MANIA - VISUAL NOVEL GAME PROJECT/Assets/TextMesh Pro/Fonts/born2bsporty-fs SDF.asset
POPSTAR MANIA - VISUAL NOVEL GAME PROJECT/Assets/TextMesh Pro/Examples & Extras/Resources/Fonts & Materials/Electronic Highway Sign SDF.asset
POPSTAR MANIA - VISUAL NOVEL GAME PROJECT/ProjectSettings/EditorBuildSettings.asset
POPSTAR MANIA - VISUAL NOVEL GAME PROJECT/Assets/TextMesh Pro/Fonts/born2bsporty-fs SDF.asset
